@tailwind base;
@tailwind components;
@tailwind utilities;
body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;


}

.custom-marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.marker-image {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 2px solid blue;
    object-fit: cover;
    transition: width 0.2s, height 0.2s;
}

.marker-point {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 50%;
    margin: 5px 0;
}

.marker-label {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.marker-selected .marker-image {
    width: 60px;
    height: 60px;
    border: 3px solid blue;
}





.quest--container {
    height: calc(100vh - 141px - 80px);

    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.quest--button_group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app_nav--container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 30px;


}

.profile--container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    margin-top: 30px;
}
